<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta</title>
</head>
<body>
    <h1>Permisos de pesca</h1>
    <p>Alta</p>
    <form action="">
        <label for="dni">Dni</label>
        <input type="number" name="" id="dni" required>

        <label for="name">Nombre</label>
        <input type="text" name="" id="name" required>

        <label for="lastname">Apellido</label>
        <input type="text" name="" id="lastname" required>

        <label for="cat">Categoría</label>
        <select name="categoria" id="categoria">
            <option value="A">A-$1000</option>
            <option value="B">B-$1500</option>
            <option value="C">C-$2000</option>
        </select>

        <div>
            <button>Guardar</button>
        </div>
    </form>

</body>
</html>