<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baja</title>
</head>
<body>
    <h1>Permisos de pesca</h1>
    <p>Baja</p>
    <form action="">
        <label for="dni">Dni</label>
        <input type="number" name="" id="dni" required>

        <label for="name">Nombre</label>
        <input type="text" name="" id="name">

        <label for="lastname">Apellido</label>
        <input type="text" name="" id="lastname">

        <p>Categoria:</p>
        <p></p>

        <!-- <select name="categoria" id="categoria">Seleccione la categoria
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
        </select> -->

        <div>
            <button>Eliminar</button>
        </div>
    </form>

</body>
</html>