<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>

<head>
    <title>Java_Crud</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Bienvenido!</h1>
    <p>Permisos de pesca</p>
    <form action="">
        <label for="dni">Dni</label>
        <input type="number" name="" id="dni" required>

        <!-- <label for="name">Nombre</label>
        <input type="text" name="" id="name" required>

        <label for="lastname">Apellido</label>
        <input type="text" name="" id="lastname" required> -->
        
        <div>

            <button>Alta</button>
            <button>Baja</button>
            <button>Modificacion</button>
        </div>
    </form>

</body>

</html>